h1{
	color:red;
	text-align: center;
}
/*h2{
	text-align: center;
}*/
/*.results{
	border: 1px solid grey;
	border-radius: 5px;
	/*width: auto;*/
	/*margin-left: 140px;
	margin-right: 140px;*/
	/*background: aqua;*/
	}
/*.header {
	border: 1px grey;
	border-radius: 10px;
}*/

/*.container{
	border: 1px solid grey;
	border-radius: 10px;
}*/
/**{
	border: 2px solid green;
}*/
