<div class="main">
	<div class="container">
		<h1 class="list-group-item col-md-8 col-md-offset-2">{{ title }}</h1>
		<div class="results col-md-8 col-md-offset-2" ng-src="{{ }}">
			<p class="list-group-item">id: {{pits[pitId].id}}</p>
			<p class="list-group-item">lat: {{pits[pitId].latitude}}</p>
			<p class="list-group-item">lon: {{pits[pitId].longitude}}</p>
			<p class="list-group-item">alt: {{pits[pitId].altitude}}</p>
			<p class="list-group-item">thumb: {{pits[pitId].thumb}}</p>
			<a href="#/pitlist/">Back to PIT List</a><!--ritorna alla lista-->
		</div>
	</div>
</div>